<footer class="footer">
  <a class="footer-logo" href="/">
    <img src="/images/logo.png" alt="Gay Spa Night"/>
  </a>
  <h3>Gay Spa Night</h3>
<h4>Copyright 2017</h4>
    <nav>
    <ul class="footer-nav nav-links">
	{% include nav-links.html %}
    </ul>
  </nav>

      <nav>
    <ul class="footer-social nav-links">
		<li><a href="http://www.twitter.com/gayspanight"><img src="/images/twitter.png" alt="Twitter"></a></li>
		<li><a href="http://www.instagram.com/gayspanight"><img src="/images/instagram.png" alt="Instagram"></a></li>
		<li><a href="http://www.facebook.com/gayspanight"><img src="/images/fb.png" alt= "Facebook"></a></li>		
    </ul>
  </nav>
  
  
</footer>