<head>	
	<title>Gay Spa Night</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://emailoctopus.com/bundles/emailoctopuslist/css/formEmbed.css">
	<link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway:regular,semi-bold,extra-bold&effect=wallpaper" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/instafeed.min.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>	
</head>